/* index */

body{
    font-family: 'Rubik';
}


#menu{
    display: flex;
    justify-content: space-between;
    background: #9D8974;
    color: #F4E5CA;
    padding: 0 10%;
}

.wrapper{
    width: 1100px;
    margin: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #F5F1EA;
    padding: 0 50px;
}

header a img{
    width: 150px;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
}

nav{
    display: flex;
    align-items: center;
}

nav ul li{
    padding: 5px 15px;
    text-transform: uppercase;
    font-weight: bold;
}

nav ul a{
    font-size: 25px;
    color: #F4E5CA;
    text-decoration: none;
}

.titre{
    width: 100%;
    margin-top: 10px;
    position: relative;
}

.titre img{
    width: 100%;
}

.titre .inner-text{
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: white;
    font-size: 0.8em;
}

.titre .inner-text h1{
    margin-bottom: 0;
}

.titre .inner-text h2{
    margin-top: 5px;
}

.bloc_histoire_de_notre_galerie h1, .prochain_evenements h1{
    font-size: 3.5em;
    margin: 10px;
    color: #404231;
    text-transform: uppercase;
}

.bloc_histoire_de_notre_galerie .histoire{
    display: flex;

}


.bloc_histoire_de_notre_galerie .histoire img{
    width: 40%;
}

.bloc_histoire_de_notre_galerie .histoire p{
    font-size: 2em;
    padding: 0 10px;
    margin: 10px;
    text-align:justify;
}

.prochain_evenements .events-photo{
    display: flex;
    justify-content: space-between;
}

.prochain_evenements .events-photo > .box{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prochain_evenements .box img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.prochain_evenements .box p{
    color: #404231;
    text-align: center;
    text-transform: uppercase;
    font-size: larger;
    font-weight: bold;
}

footer {
    background-color: #404231;
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
}

footer img{
    width: 150px;
}

footer nav{
    flex: 1;
}

footer nav ul{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

footer nav a{
    border: solid 1px #9D8974;
    padding: 5px 15px;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

/* index2 */

.page-contenue{
    margin: 40px 0;
}

.page-contenue .artist{
    padding: 10px;
    border-radius: 15px;
    padding: 20px;
}

.page-contenue .artist:nth-child(even){
    background-color: #c0b6ab;
}

.page-contenue .artist h3{
    font-size: 2.8em;
    margin: 10px;
    color: #404231;
    text-transform: uppercase;
}

.page-contenue .artist .flex-box{
    display: flex;
    justify-content: space-between;
}

.page-contenue .artist .flex-box .tableau{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-contenue .artist .flex-box .tableau img{
    width: 100%;
    margin-bottom: 15px;
}

.page-contenue .artist .flex-box .tableau p{
    margin: 0;
    padding: 0;
    color: #404231;
    text-transform: uppercase;
    font-weight: bold;
    font-size: larger;
}

/* contact */


#info{
    margin-top: 60px;

}

#info h1{
    text-align: center;
    font-size: 3.5em;
    margin: 40px;
    color: #404231;
    text-transform: uppercase;
    font-weight: bold;
}

#info .details-form{
    width: 90%;
    margin: 60px auto;
    display: flex;
}



#info .details-form .details{
    color: #404231;
    font-weight: bold;
    border-right: 1px solid black;
    width: 50%;
}

#info .details-form form{
    width: calc(50% - 60px);
    padding: 30px;
    padding-top: 0;
}

#info .details-form form input[type=text]{
    background-color: #d6cdc3;
    color: #9D8974;
    border: 1px solid #9D8974;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

#info .details-form form input[type=submit]{
    float: right;
    font-size: 1.5em;
    border: 0;
    background-color: #9D8974;
    color: #404231;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
}

#info .socials{
    display: flex;
    width: 30%;
    margin: 60px auto;
    justify-content: space-between;
}

#info .socials a{
    display: block;

    font-size: 30px;
    color: #b8a796;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.outline{
    position: relative;
    background-color: #404231;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

/* conexion */

.conexion h1, .conexion h2{
    text-align: center;
    font-size: 3.5em;
    margin: 0;
    color: #404231;
}

.conexion h2{
    font-size: 2em;
}

.conexion h1{
    margin-top: 120px;
}

.conexion form{
   width: 40%;
   margin: auto;
   position: relative;
   margin-bottom: 200px;
}

conexion form input[type=text]{
    background-color: #d6cdc3;
    color: #9D8974;
    border: 1px solid #9D8974;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
}

.conexion form input[type=submit]{
    position: absolute;
    right: 0;
    font-size: 1.5em;
    border: 0;
    background-color: #9D8974;
    color: #404231;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
}

.conexion form input[name="visiteur/investisseur"]{
    background-color: #9D8974;
    color:#404231;
    font-size: 1.3em;
    font-weight: bold;
}



/* Responsive */

@media only screen and (max-width: 700px) {
    .wrapper{
        width: 100%;
        padding: 0;

    }
    #menu{
        flex-direction: column;
        padding: 0;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;
    }

    .bloc_histoire_de_notre_galerie h1{
        margin-top: 30px;
        font-size: 2em;
        text-align: center;
    }

    .bloc_histoire_de_notre_galerie .histoire{
        flex-direction: column;

    }

    .bloc_histoire_de_notre_galerie .histoire img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .bloc_histoire_de_notre_galerie .histoire p{
        font-size: 1.6em;
    }

    .prochain_evenements h1{
        margin-top: 30px;
        font-size: 2em;
        text-align: center;
    }

    .prochain_evenements .events-photo{
        flex-direction: column;
        align-items: center;
    }

    .prochain_evenements .events-photo .box{
        width: 60%;
    }

    footer{
        padding: 0;
    }

    footer nav ul {
        width: 100%;
    }

   /* index2 */

    .page-contenue .artist h3{
        text-align: center;
        font-size: 2.5em;
    }

    .page-contenue .artist .flex-box{
        flex-direction: column;
    }

    .page-contenue .artist .flex-box .tableau{
        margin: auto;
        width: 60%;
        margin-bottom: 40px;
    }

    /* contact */

    #info h1{
        font-size: 3em;
    }

    #info .details-form{
        flex-direction: column;
    }

    #info .details-form .details{
        border-right: none;
        width: 100%;
    }

    #info .details-form form{
        width: 100%;
        padding: 0;
    }

    #info .socials{
        width: 80%;
        justify-content: space-evenly;
    }

}
