#menu{
    display: flex;
    justify-content: space-between;
    background: #9D8974;
    color: #F4E5CA;
    padding: 0 10%;
}

.wrapper{
    width: 980px;
    margin: auto;
}

header a img{
    width: 150px;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
}

nav{
    display: flex;
    align-items: center;
}

nav ul a{
    font-size: 25px;
    color: #F4E5CA;
    text-decoration: none;
}

.titre{
    width: 100%;
    margin-top: 10px;
    position: relative;
}

.titre img{
    width: 100%;
}

.titre .inner-text{
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: white;
    font-size: 0.8em;
}

.titre .inner-text h1{
    margin-bottom: 0;
}

.titre .inner-text h2{
    margin-top: 5px;
}

/* index2 */

.page-contenue{
    margin: 40px 0;
}

.page-contenue .artist{
    padding: 10px;
    border-radius: 15px;
    padding: 20px;
}

.page-contenue .artist:nth-child(even){
    background-color: #c0b6ab;
}

.page-contenue .artist h3{
    font-size: 2.8em;
    margin: 10px;
    color: #404231;
    text-transform: uppercase;
}

.page-contenue .artist .flex-box{
    display: flex;
    justify-content: space-between;
}

.page-contenue .artist .flex-box .tableau{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-contenue .artist .flex-box .tableau img{
    width: 100%;
    margin-bottom: 15px;
}

.page-contenue .artist .flex-box .tableau p{
    margin: 0;
    padding: 0;
    color: #404231;
    text-transform: uppercase;
    font-weight: bold;
    font-size: larger;
}
